
/* 
    Created on : 17-okt-2014, 13:00:04
    Author     : Annemarieke
*/

*
{
margin: 0;
}

.container
{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
}

.header
{
    float: left;
    width: 1200px;
    height: 100px;
    background-color: orange;

}

.linksheader
{
    float: left;
    clear: none;
    width: 1150px;
    height: 50px;
    background-color: #eeeeee;
    padding-left: 25px;
    padding-right: 25px;
}

.main
{
    float: left;
    padding-top: 0px;
    width: 1200px;
    height: 450px;
    background-color: #f7f7f7;
}

.weather
{
float: left;
padding-top: 0px;
    width: 200px;
    height: 450px;
    text-align: center;
    
}



.information
{
    padding-left: 40px;
    padding-top: 30px;
    float: left;
    width: 550px;
    height: 450px;
    text-align: center;

}

.largeinformation
{
    float: left;
    padding-left: 10px;
    width: 450px;
    height: 450px;

}

.largeinformationontheright
{
    float: right;
    width: 510px;
    height: 450px;
    padding-left:10px;
    padding-right: 10px;
}

.maps
{
   float: left; 
   width: 200px;
   text-align: center;
   height: 450px;
   padding-left: 50px;
   padding-right: 50px;
}

.footer
{
    float: left;
    width: 1150px;
    height: 20px;
    background-color: #eeeeee;
    padding-left: 25px;
    padding-right: 25px;
}

.words
{
    padding-top: 10px;
    text-align: center;
    float: left;
    font-size: 135%;
    font-family: sans-serif;
}

.word1
{
    
    float: left;
    position: relative;
    left: 225px;
}

.word2
{
    float: left;
    position: relative;
    left: 400px;
}

.word3
{
    float: left;
    position: relative;
    left: 600px;
    
}

h3.listofinterests
{
    font-family: sans-serif;
    font-style: italic;
}

textarea
{
    resize: none;
}

.form
{
    padding-top: 30px;
    padding-left:60px;
}

.form2
{
    padding-left: 20px;
    padding-top:5px;
}